<div class="wrapper">
  <div class="container-fluid-cs" style="padding-top: 5rem; padding-bottom: 5rem; color: white;">
    <hr>
    <h1>COSA FACCIAMO</h1>
    <div class="d-flex align-items-center justify-content-center flex-column">
      <h4 style="font-size: 6rem;">Social Media</h4>
      <h4 style="font-size: 6rem;">Content Marketing</h4>
      <h4 style="font-size: 6rem;">Podcast Production</h4>
      <h4 style="font-size: 6rem;">Digital Marketing</h4>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p class="arrow">&darr;</p>
  </div>
</div>