<!-- <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="background-color: black !important;">
  <div class="container-fluid">
    <img src="assets/AGENCY.png" style="max-width: 200px;" alt="">
    <button class="navbar-toggler custom-navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="changeColor($event)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="changeColor($event)">Servizi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="changeColor($event)">Podcast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="changeColor($event)">Contatti</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="background-color: black !important;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="assets/AGENCY.png" style="max-width: 200px;" alt="">
    </a>
    <button class="navbar-toggler custom-navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse horizontal-menu" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" (click)="changeColor($event)">
          <a class="nav-link active" style="color: white;" aria-current="page">HOME</a>
        </li>
        <li class="nav-item" (click)="changeColor($event)">
          <a class="nav-link active" style="color: white;" aria-current="page">SERVIZI</a>
        </li>
        <li class="nav-item" (click)="changeColor($event)">
          <a class="nav-link active" style="color: white;" aria-current="page">PODCAST</a>
        </li>
        <li class="nav-item" (click)="changeColor($event)">
          <a class="nav-link active" style="color: white;" aria-current="page">CONTATTI</a>
        </li>
      </ul>
    </div>
  </div>
</nav>