a {
  color: white !important;
}

.color {
  color: rgb(237, 255, 77) !important;
}

a:hover {
  color: rgb(237, 255, 77) !important;
}

.custom-navbar-toggler {
  background-color: white !important;
  color: black !important;
}

.container-fluid {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

.navbar-brand img {
  max-width: 200px;
}

@media (max-width: 990px) {
  .navbar-brand img {
    max-width: 100px;
    margin-left: 0;
  }

  .horizontal-menu .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
  }

  .horizontal-menu .nav-item {
    margin: 0 !important;
  }

  /* .horizontal-menu .nav-link {
    padding: 0.5rem 1rem !important;
  } */
}

@media screen and (max-width: 768px) {
  .container-fluid {
    margin-left: 0;
    margin-right: 0;
  }
}