<div class="wrapper">
  <div class="container-fluid-cs">
    <hr>
    <h1 class="pb-5" style="font-size: 1rem;">PODCAST</h1>
    <p class="special mb-5">
      <span>In principio era il <span style="color: rgb(237, 255, 77);">(ribelli)</span> podcast</span>
    </p>
    <iframe
      src="https://widget.spreaker.com/player?show_id=5613595&theme=light&playlist=show&playlist-continuous=false&chapters-image=true&episode_image_position=left&hide-logo=false&hide-likes=false&hide-comments=false&hide-sharing=false&hide-download=true"
      width="100%" height="350px" frameborder="0"></iframe>
    <div class="d-flex align-items-center justify-content-center mt-3 flex-column">
      <a href="https://zaap.bio/ribelli_podcast" style="font-size: 2rem;">Scopri il podcast</a>
    </div>
    <div class="d-flex align-items-center justify-content-center mt-3 flex-column pt-5">
      <p class="arrow">&darr;</p>
    </div>
  </div>
</div>