<div class="wrapper">
  <div class="container-fluid-cs" style="padding-top: 5rem; padding-bottom: 5rem; color: white;">
    <hr>
    <h1 class="pb-5">CONTATTI</h1>
    <p class="special">
      <span>Hai budget <span style="color: rgb(237, 255, 77);">da investire</span> in comunicazione? <br>
        Contattaci <span class="arrow">👇</span></span>
    </p>
    <div class="calendly-inline-widget" data-url="https://calendly.com/edoardo_martinenghi"
      style="min-width: 320px; height: 700px;"></div>
    <div class="row mt-5">
      <div class="col-lg-4 col-sm-3 d-flex align-items-center justify-content-center flex-column">
        <h2>Milano</h2>
        <p>Via Tolstoi 64</p>
      </div>
      <div class="col-lg-4 col-sm-3 d-flex align-items-center justify-content-center flex-column">
        <h2>Brescia</h2>
        <p>Via Bonsignori 56</p>
      </div>
      <div class="col-lg-4 col-sm-3 d-flex align-items-center justify-content-center flex-column">
        <h2>Seguici</h2>
        <div class="d-flex align-items-center justify-content-start icons">
          <a href="https://www.instagram.com/ribelli_podcast/" target="_blank" style="font-size: 1.5rem;">
            <span class="d-flex align-items-center justify-content-center me-1">
              <i class="bi bi-instagram"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/company/ribelli-podcast/" target="_blank" style="font-size: 1.5rem;">
            <span class="d-flex align-items-center justify-content-center ms-1">
              <i class="bi bi-linkedin"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>