<div class="wrapper">
  <div class="container-fluid-cs" style="padding-top: 5rem; padding-bottom: 5rem; color: white;">
    <hr>
    <h1 class="pb-5">CONTATTI</h1>
    <!-- <div class="row mb-3" *ngIf="!inviaIdea">
      <div class="col-6">
        <input type="text" class="form-control" id="name" required placeholder="Nome" [(ngModel)]="nome">
      </div>
      <div class="col-6">
        <input type="text" class="form-control" id="name" required placeholder="Email" [(ngModel)]="email">
      </div>
    </div>
    <div class="row mb-3" *ngIf="!inviaIdea">
      <div class="col-12">
        <textarea class="form-control" placeholder="Descrivi la tua idea" id="floatingTextarea2" style="height: 100px"
          [(ngModel)]="descrizione"></textarea>
      </div>
    </div>
    <div class="row" *ngIf="!inviaIdea">
      <div class="col-8 col-lg-4">
        <button class="btn btn-primary" (click)="inviaRichiesta()"
          style="background-color: rgb(237, 255, 77); color: black; border: none;">Invia
          richiesta</button>
      </div>
    </div>
    <div class="row" *ngIf="inviaIdea == true">
      <div class="col-12" style="background-color: rgb(237, 255, 77); padding: 2rem 1rem; border-radius: 10px;">
        <p class="m-0 p-0">Grazie! La tua richiesta è stata inviata con successo!</p>
      </div>
    </div> -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/edoardo_martinenghi"
      style="min-width: 320px; height: 700px;"></div>
    <div class="row mt-5">
      <div class="col-lg-4 col-sm-3 d-flex align-items-center justify-content-center flex-column">
        <h2>Milano</h2>
        <p>Via Tolstoi 64</p>
      </div>
      <div class="col-lg-4 col-sm-3 d-flex align-items-center justify-content-center flex-column">
        <h2>Brescia</h2>
        <p>Via Bonsignori 56</p>
      </div>
      <div class="col-lg-4 col-sm-3 d-flex align-items-center justify-content-center flex-column">
        <h2>Seguici</h2>
        <div class="d-flex align-items-center justify-content-start icons">
          <a href="https://www.instagram.com/ribelli_podcast/" target="_blank" style="font-size: 1.5rem;">
            <span class="d-flex align-items-center justify-content-center me-1">
              <i class="bi bi-instagram"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/company/ribelli-podcast/" target="_blank" style="font-size: 1.5rem;">
            <span class="d-flex align-items-center justify-content-center ms-1">
              <i class="bi bi-linkedin"></i>
            </span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>