.icons a:hover {
  color: rgb(237, 255, 77);
}

.col-4 h2 {
  font-size: 3rem;
}

.col-4 p {
  font-size: 1.2rem;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .col-sm-3 h2 {
    font-size: 1.5rem;
  }

  .col-sm-3 p {
    font-size: 1rem;
    font-weight: 100;
  }

  .icons {
    text-align: center;
  }
}