<div class="wrapper">
  <div class="container-fluid-cs">
    <h1 style="font-size: 1rem;">CHI SIAMO</h1>
    <p>
      <!-- <span style="color: rgb(237, 255, 77);">Una agenzia</span> pensata per offrire <span
        style="color: rgb(237, 255, 77);">soluzioni</span> veloci e accessibili a tutti i <span
        style="color: rgb(237, 255, 77);">brand</span> che
      vogliono <span style="color: rgb(237, 255, 77);">raccontarsi</span> con <span
        style="color: rgb(237, 255, 77);">nuove forme di linguaggio.</span> -->
      <span style="color: rgb(237, 255, 77);">Un’agenzia</span> pensata per offrire <span
        style="color: rgb(237, 255, 77);">soluzioni</span> strategiche per tutti i <span
        style="color: rgb(237, 255, 77);">brand</span> che vogliono raccontarsi tramite nuove <span
        style="color: rgb(237, 255, 77);">forme di
        linguaggio.</span>
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p class="arrow">&darr;</p>
  </div>
</div>