<div class="wrapper">
  <div class="container-fluid-cs">
    <div class="col-12" style="position: relative;">
      <h1>
        <strong style="font-weight: 600;">CREIAMO</strong> <br> CONTENUTI <br> <strong style="font-weight: 600;">PER
          SPACCARE</strong> <br> SUI
        SOCIAL
      </h1>
      <span id="mano" style="font-size: 5rem; position: absolute; top: 40px; left: 550px;">🤙🏻</span>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <p class="arrow">&darr;</p>
  </div>
  <div style="background-color: white;">
    <marquee style="font-size: 2rem; color: black;" scrollamount="15" loop="infinite">
      MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER | USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH | MARKETING | STRATEGY | CONTENT | VERTICAL | FORMAT | VIRAL | TREND | HASHTAG | INFLUENCER |
      USER-GENERATED |
      VISUAL |
      ADVERTISING | REACH |
    </marquee>
  </div>
</div>