a {
  color: inherit;
  cursor: pointer;
}

.container-fluid-cs {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.wrapper {
  background-color: black;
}

@media screen and (max-width: 768px) {
  .container-fluid-cs {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
}